.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider-children {
  background-color: #05445E;
}

.ant-menu.ant-menu-dark {
  background-color: #05445E;
}
.ant-layout-sider-trigger{
  background-color: #189AB4;
}


.columnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowContainer {
  width: 100%;
}
.dashboardContainer{
  width: 100%;
  
}

.dashboardContainer h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 35px;
 
}
.cardContainer {
  width : 20vw;
  height: 20vh;
}

.image {
  width: 200px;
  height: 200px;
}

.dashboardContainer p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}


.ant-table-row {
  background-color: #189AB4;
}

.ant-table-thead :first-child {
  background-color: #05445E;
  color: white;

}
.ant-table-thead :nth-child(2){
  background-color: #05445E;
  color: white;
}


