body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #D4F1F4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 26px;
}

.site-layout .site-layout-background h2 {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 0px;
}
.choiceContainer {
  border-radius:2%;
  
  border : 2px lightblue solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 32px;
  max-width: 800px;;
}

.dashboardDesc{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
}

.creator{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width : 100%;

}
.creatorsContainer {

  max-width: 70vw;
}