@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    width: 700px;
    border-radius: 20px;
    background-color: #05445E;
}

.top{
    height: 60px;
    background-color: #189AB4;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: #189AB4;
    color: black;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    font-weight: 1000;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.time{
    padding: 20px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.temp{
    padding: 20px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 20px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.description{
    padding: 20px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 400;
}


